bin/
build/
dist/
test-results/
javadoc/
maven/
.settings/
*.exe
*.class
*~
.pydevproject
jMetal.log*
lib/jmetal-plugin-*.jar
lib/pisa-plugin-*.jar
lib/gd-*.jar
lib/nashorn-*.jar
lib/asm-*.jar
lib/junit-*.jar
lib/hamcrest-core-*.jar
auxiliary/checkstyle/checkstyle-*.jar
*.state