bin/
build/
cov-int/
dist/
test-results/
javadoc/
maven/
.settings/
*.exe
*~
.pydevproject
jMetal.log*
lib/jmetal-plugin-*.jar
lib/nashorn-*.jar
lib/asm-*.jar
auxiliary/checkstyle/checkstyle-*.jar
*.state