/build/
/coco/
/dist/
/javadoc/
/native/
/results/
/temp/
/test-results/
/*.arff
/*.csv
/*.dat
/*.json
/*.md
/*.pf
/*.res
/*.tex
/*.txt
/*.png
/*.gif
/cli
*~
*.class
*.state
*.exe
jMetal.log*
lib/jmetal-plugin-*.jar
lib/pisa-plugin-*.jar
lib/gd-*.jar
lib/nashorn-*.jar
lib/asm-*.jar
lib/junit-*.jar
lib/hamcrest-*.jar
lib/jfreesvg-*.jar
test/checkstyle/checkstyle-*.jar

# Eclipse
/.settings/
/bin/
.pydevproject

# IntelliJ IDEA
.idea
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/
.code-workspace

# OS X
.DS_Store
