#ifndef ${problemName}_H
#define ${problemName}_H

extern "C" {
#ifdef WIN32
void __declspec(dllexport) ${functionName}(double* vars, double* objs, double* constrs);
#else
void ${functionName}(double* vars, double* objs, double* constrs);
#endif
}

int nvars = ${numberOfVariables};
int nobjs = ${numberOfObjectives};
int nconstrs = ${numberOfConstraints};

#endif