package ${packageName};

import org.moeaframework.core.FrameworkException;
import org.moeaframework.core.spi.RegisteredProblemProvider;

public class ${problemName}Provider extends RegisteredProblemProvider {

	public ${problemName}Provider() {
		super();
		
		register("${problemName}", ${problemName}::new, null);
		registerDiagnosticToolProblems(getRegisteredProblems());
	}
	
}
