package ${packageName};

import org.moeaframework.core.spi.RegisteredProblemProvider;

public class ${problemName}Provider extends RegisteredProblemProvider {

	public ${problemName}Provider() {
		super();
		
		// If a reference set is available, replace the last argument with the file path
		register("${problemName}", ${problemName}::new, null);
		
		// Include this problem in the diagnostic tool
		registerDiagnosticToolProblems(getRegisteredProblems());
	}
	
}
