#header-wrap {
  float: none;
}

#header {
  width: 100%;
}

#header #nav {
  width: 100%;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header #nav ul li a {
  font-size: 10px;
  padding: 0 5px 29px 5px;
}

img#logo {
	margin: 80px 0px 0px 10px;
	width: 60px;
	height: auto;
}

#header h1#logo-text a {
  font-size: 28px;
  letter-spacing: -1px;
  left: 80px;
  top: 92px;
}

#header p#slogan {
	top: 150px;
	left: 10px;
	line-height: 1.2em;
	width: 320;
	font-size: 14px;
}

#content-wrap {
  float: none;
}

#content {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
  background: #FFF url(../images/content_mobile.gif) repeat-y center top;
}

#main {
  display: block;
  float: none;
  width: 100%;
  padding: 0;
}

#main h2 {
  display: none;
}

#sidebar {
  clear: both;
  display: block;
  float: none;
  width: 100%;
}

.downloads {
  display: none;
}

p, dl {
  margin: 10px 10px;
}

h1, h2, h3, h4 {
  margin: 8px 10px;
}

#footer-wrap {
  width: 100%;
  margin: 0 0;
}

#footer-bottom {
  width: 100%;
  overflow: visible;
}

#footer-bottom .bottom-left {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0 0 15px 0;
}

#footer-bottom .bottom-right {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0 0 15px 0;
}

.section {
  width: 100%;
  overflow: visible;
}
