name: Tests

on:
  push:
    paths-ignore:
    - 'docs/**'
    - 'README.md'

jobs:
  ant-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '16', '17', '18', '19', '20' ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: zulu
    - name: Install required software
      run: |
        sudo apt install xmlstarlet
    - name: Setup up JUnit 4
      run: |
        cd lib
        wget https://search.maven.org/remotecontent?filepath=junit/junit/4.13.2/junit-4.13.2.jar
        wget https://search.maven.org/remotecontent?filepath=org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar
    - name: Setup JMetal-Plugin
      if: ${{ matrix.java >= 14 }}
      run: |
        version=$(xmlstarlet sel -N x="http://maven.apache.org/POM/4.0.0" -t -v "//x:project/x:dependencies/x:dependency[.//x:artifactId='jmetal-plugin']/x:version/text()" auxiliary/maven/pom.xml)
        echo "Downloading jmetal-plugin $version"
      
        cd lib
        wget https://github.com/MOEAFramework/JMetal-Plugin/releases/download/v${version}/jmetal-plugin-${version}-jar-with-dependencies.jar
    - name: Setup scripting plugin
      if: ${{ matrix.java >= 11 }}
      run: |
        # Nashorn is GPL v2 with the Classpath Exception
        # ASM is BSD 3-clause
        cd lib
        wget https://repo1.maven.org/maven2/org/ow2/asm/asm/9.5/asm-9.5.jar
        wget https://repo1.maven.org/maven2/org/ow2/asm/asm-commons/9.5/asm-commons-9.5.jar
        wget https://repo1.maven.org/maven2/org/ow2/asm/asm-tree/9.5/asm-tree-9.5.jar
        wget https://repo1.maven.org/maven2/org/ow2/asm/asm-util/9.5/asm-util-9.5.jar
        wget https://repo1.maven.org/maven2/org/openjdk/nashorn/nashorn-core/15.4/nashorn-core-15.4.jar
    - name: Setup Coco Framework
      run: |
        sudo rm /usr/bin/javah

        git clone https://github.com/numbbo/coco
        cd coco
        python do.py run-java
          
        cd code-experiments/build/java
        sed 's/Java_CocoJNI_/Java_org_moeaframework_problem_BBOB2016_CocoJNI_/g' CocoJNI.c > org_moeaframework_problem_BBOB2016_CocoJNI.c
        sed 's/Java_CocoJNI_/Java_org_moeaframework_problem_BBOB2016_CocoJNI_/g' CocoJNI.h > org_moeaframework_problem_BBOB2016_CocoJNI.h
        gcc -I $JAVA_HOME/include -I $JAVA_HOME/include/linux -o libCocoJNI.so -fPIC -shared org_moeaframework_problem_BBOB2016_CocoJNI.c

        sudo mkdir -p /usr/java/packages/lib/
        sudo mv libCocoJNI.so /usr/java/packages/lib/
    - name: Test with Ant - Java ${{ matrix.java }}
      run: ant -DON_CI=true -f test.xml
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ant-test-results-${{ matrix.java }}
        path: test-results     

  maven-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 16
      uses: actions/setup-java@v4
      with:
        java-version: 16
        distribution: temurin
        cache: maven
    - name: Prepare Maven project - Java 8
      run: ant -f test.xml build-maven-tests
    - name: Run Maven tests - Java 8
      run: |
        cd build
        mvn test
      env:
        ON_CI: true
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: maven-test-results-${{ matrix.java }}
        path: build/target/surefire-reports

  package-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: temurin
    - name: Package binary
      run: ant -f build.xml package-binary
    - name: Test examples in binary package
      run: |
        cd build/MOEAFramework-*
        make -C examples
        javac -cp "lib/*" examples/Example[1-6].java
        java -cp "lib/*:examples" Example1
        java -cp "lib/*:examples" Example2
        java -cp "lib/*:examples" Example3
        java -cp "lib/*:examples" Example4
        java -cp "lib/*:examples" Example5
        java -cp "lib/*:examples" Example6
    - name: Package source
      run: ant -f build.xml package-source
    - name: Package demo
      run: ant -f build.xml package-demo
    - name: Package website
      run: ant -f build.xml package-website

