name: Validate and stage release

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: The version to publish
        required: true
      publish-website:
        description: 'Create draft Website release'
        default: true
        type: boolean 
      publish-github:
        description: 'Create draft GitHub release'
        default: true
        type: boolean
      publish-maven:
        description: 'Create Maven release'
        default: true
        type: boolean
      trigger-tests:
        description: 'Trigger integration tests'
        default: true
        type: boolean
      skip-validation:
        description: 'Skip version validations'
        default: false
        type: boolean

jobs:
  stage:
    runs-on: ubuntu-latest
    steps:
      - name: Setup release
        uses: MOEAFramework/.github/actions/setup-release@main
        with:
          email: ${{ secrets.EMAIL }}
          username: ${{ secrets.USERNAME }}
          github-pat: ${{ secrets.PAT }}
          gpg-signing-key: ${{ secrets.GPG_SIGNING_KEY }}
      - name: Get project info
        uses: MOEAFramework/.github/actions/get-project-info@main
        with:
          expected-version: ${{ inputs.version }}
          skip-validation: ${{ inputs.skip-validation }}
      - name: Build release artifacts
        if: ${{ inputs.publish-github }}
        uses: MOEAFramework/.github/actions/run-ant@main
        with:
          target: package-binary package-demo package-source
      - name: Generate release notes
        if: ${{ inputs.publish-github }}
        run: |
          cat docs/releaseNotes.md | awk '/## Version ${{ inputs.version }}/{flag=1; next} /##/{flag=0} flag' > dist/releaseNotes.md
          [ "$(wc -l < dist/releaseNotes.md)" -gt 0 ] || (>&2 echo "Unable to read release notes from docs/releaseNotes.md"; exit -1)
      - name: Setup Maven project
        if: ${{ inputs.publish-maven }}
        uses: MOEAFramework/.github/actions/run-ant@main
        with:
          target: build-maven
      - name: Build and stage Maven artifacts
        if: ${{ inputs.publish-maven }}
        uses: MOEAFramework/.github/actions/publish-maven@main
        with:
          directory: build
          ossrh-username: ${{ secrets.OSSRH_USERNAME }}
          ossrh-password: ${{ secrets.OSSRH_TOKEN }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Stage GitHub release
        if: ${{ inputs.publish-github }}
        uses: MOEAFramework/.github/actions/publish-github@main
        with:
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup website
        if: ${{ inputs.publish-website }}
        uses: MOEAFramework/.github/actions/run-ant@main
        with:
          target: package-website
      - name: Stage website
        if: ${{ inputs.publish-website }}
        uses: MOEAFramework/.github/actions/sync-repo@main
        with:
          directory: ../MOEAFramework/build/
          repository: Website
          branch-name: v${{ env.BUILD_VERSION }}
          message: Update for v${{ env.BUILD_VERSION }}
          github-pat: ${{ secrets.PAT }}
      - name: Trigger integration tests
        if: ${{ inputs.trigger-tests }}
        uses: MOEAFramework/.github/actions/integration-test@main
        with:
          github-pat: ${{ secrets.PAT }}
