name: Validate and stage release

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: The version to publish
        required: true
      publish_website:
        description: 'Create draft Website release'
        default: true
        type: boolean 
      publish_github:
        description: 'Create draft GitHub release'
        default: true
        type: boolean
      publish_maven:
        description: 'Create Maven release'
        default: true
        type: boolean
      skip_validation:
        description: 'Skip version validations'
        default: false
        type: boolean
        
env:
  MIN_JAVA_VERSION: 17        # Minimum supported Java version
  JAVA_DISTRIBUTION: zulu     # Java distribution used in tests

jobs:
  stage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ env.MIN_JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.MIN_JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Setup Git and GitHub CLI
        run: |
          gh auth setup-git
          git config --global user.email "${{ secrets.EMAIL }}"
          git config --global user.name "${{ secrets.USERNAME }}"
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Get project settings
        run: |
          shortname=$(cat META-INF/build.properties | awk '{split($0,a," = "); if (a[1]=="shortname") print tolower(a[2])}' |  tr -d '[:space:]')
          version=$(cat META-INF/build.properties | awk '{split($0,a," = "); if (a[1]=="version") print tolower(a[2])}' |  tr -d '[:space:]')
          [ -n "${shortname}" ] || (>&2 echo "Unable to read shortname from build.properties"; exit -1)
          [ -n "${version}" ] || (>&2 echo "Unable to read version from build.properties"; exit -1)
          echo "BUILD_NAME=${shortname}" >> $GITHUB_ENV
          echo "BUILD_VERSION=${version}" >> $GITHUB_ENV
      - name: Validate version number
        if: ${{ ! inputs.skip_validation }}
        run: |
          echo "${{ inputs.version }}" | grep -E '^[0-9]+\.[0-9]+(\.[0-9]+)?$' || (>&2 echo "Invalid version number format"; exit -1)
          [ "${{ inputs.version }}" == "${BUILD_VERSION}" ] || (>&2 echo "Version does not match value in build.properties"; exit -1)
          [ "${{ inputs.version }}" == "$(cat README.md | grep '<version>' | tr -d '<>/[:alpha:][:space:]')" ] || (>&2 echo "Version does not match value in the Maven instructions in README.md"; exit -1)
          [ "${{ inputs.version }}" == "$(cat README.md | grep "search.maven.org" | grep -oEi '[0-9]+\.[0-9]+(\.[0-9]+)?')" ] || (>&2 echo "Version does not match value in the Maven URL in README.md"; exit -1)
          [ "${{ inputs.version }}" == "$(cat docs/releaseNotes.md | grep "## " | head -n 1 | grep -oEi '[0-9]+\.[0-9]+(\.[0-9]+)?')" ] || (>&2 echo "Version does not match value in docs/releaseNotes.md"; exit -1)
      - name: Build release artifacts
        run: |
          ant package-binary
          ant package-demo
          ant package-source
      - name: Generate release notes
        run: |
          cat docs/releaseNotes.md | awk '/## Version ${{ inputs.version }}/{flag=1; next} /##/{flag=0} flag' > dist/releaseNotes.md
          [ "$(wc -l < dist/releaseNotes.md)" -gt 0 ] || (>&2 echo "Unable to read release notes from docs/releaseNotes.md"; exit -1)
      - name: Build and stage Maven artifacts
        if: ${{ inputs.publish_maven }}
        run: |
          ant build-maven
          pushd build
          mvn --batch-mode deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: Stage website
        if: ${{ inputs.publish_website }}
        run: |
          ant package-website
          
          pushd ..
          gh repo clone MOEAFramework/Website
          pushd Website
          git checkout v${{ inputs.version }} || git checkout -b v${{ inputs.version }}
          
          rm -rf *
          cp -R ../MOEAFramework/build/* .
          
          git add .
          
          if [[ -n "$(git status -s)" ]]; then
            git commit -m "Update for v${{ inputs.version }}"
            git push origin v${{ inputs.version }}
            gh pr create --head v${{ inputs.version }} --fill --repo MOEAFramework/Website || true
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Stage GitHub release
        if: ${{ inputs.publish_github }}
        run: |
          gh release create "v${{ inputs.version }}" --draft --title "Version ${{ inputs.version }}" --notes-file dist/releaseNotes.md \
              dist/MOEAFramework-${{ inputs.version }}.tar.gz \
              dist/MOEAFramework-${{ inputs.version }}-Demo.jar \
              dist/MOEAFramework-${{ inputs.version }}-Source.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Release artifacts
          path: dist/
