name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6
        with:
          stale-issue-message: '**This is an automated message.** This issue is flagged as stale and will be closed in 7 days. If you feel this issue is still relevant, leave a comment to keep the issue open. Please also consider contributing a fix for the issue.'
          stale-pr-message: '**This is an automated message.** This PR is flagged as stale and will be closed in 7 days. Please verify the PR has no merge conflicts, unresolved comments, or test failures that could be blocking its approval.'
          operations-per-run: 100
